.announcement {
  margin-bottom: 10px;
  background-color: lightgray;
  border: 0.5px solid gray;
  border-radius: 10px;

  &__img {
    height: 300px;
    width: 300px;
    object-fit: contain;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      margin-top: 15px;
    }
  }

  &__buttonsContainer {
    display: flex;
    justify-content: space-evenly;

    button {
      color: gray!important;
    }
  }
}
